.App {
  text-align: center;
  
}
button{
  cursor: pointer;
}
.center{
  display: flex;
  justify-content: center;
}
body{
  background: linear-gradient(to right, #ef32d9, #89fffd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.particles{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}